<h3 id="haverage_rating"><%= t(:average_rating) %></h3>
<div id="no_rating"<% if !@product.ratings.empty? %> style="display:none;"<% end -%>>
  <%= t(:product_has_not_been_rated) %>
</div>
<div id="average_rating"<% if @product.ratings.empty? -%> style="display:none;"<% end -%>>
  <span></span><span></span><span></span><span></span><span></span> <% if !@product.ratings.empty? -%>&nbsp;&nbsp;<b>out of <%= @product.ratings.size %></b><% end -%>
  <div class="clear"></div>
  <input type="hidden" id="avg_rating" value="<%= @product.ratings.average('rating').to_i %>" />
</div>
