<div id="ratings"> 
  <input type="hidden" id="user_rating" value="<%= @user_rating %>" />
  <span class="vote" id="rating1"></span>
  <span class="vote" id="rating2"></span>
  <span class="vote" id="rating3"></span>
  <span class="vote" id="rating4"></span>
  <span class="vote" id="rating5"></span>
  <div class="clear"></div>
</div>
