<div id="reviews">
  <p>
    <label for="title">Title</label><%= text_field :review, :title %>
  </p>
  <p id="content">
    <label for="content">Content</label><%= text_area(:review, :content, :rows => 5, :cols => 40) %>
  </p>
  <% if !@product_review.nil? -%>
  <p id="review_alert">You have already submitted a review for this product. Your old review will be removed if you resubmit.</p>
  <% end -%>
  <div id="submit"></div>
</div>
