<div id="reviews">
  <p>
    <label for="title">Title</label><%= text_field :review, :title, { :value => @review_title } %>
  </p>
  <p>
    <label for="content">Content</label><%= text_area(:review, :content, { :rows => 5, :cols => 40, :value => @review_content }) %>
  </p>
  <div id="submit"></div>
  <% if !@product_review.nil? -%>
  <div id="delete"><%= @product_review.id %></div>
  <p id="review_alert">Your review can be edited or deleted.</p>
  <% end -%>
</div>
