<div id="more_info">Click here to read more about contributing reviews</div>
<div id="more_info_content">
<div id="close_info">X</div>
Reviews pending status / etc etc.
We have the right to delete or hide any reviews that have inappropriate language.
</div>
